.about-section {

  min-height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7); 
  min-height: 100vh;
  width: 100%;
  padding: 60px 0;
}

.highlight {
  color: #ff9800;
  font-weight: bold;
}
/* Theme for full sections */
.section-theme {
  background-color: white;
  color: black;
}

.dark-mode .section-theme {
  background-color: #121212; /* dark bg */
  color: white;
}

/* Theme for cards inside sections */
.card-theme {
  background-color: white;
  color: black;
}

.dark-mode .card-theme {
  background-color: #1e1e1e; /* darker card */
  color: white;
}
